*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 14px 60px;
    box-sizing: border-box;
    height: 72px;
    min-width: 1180px;
    z-index: 10000;
}

header .logo {
    float: left;
    width: 290px;
    position: relative;
}

header .logo img {
    display: inline-block;
    vertical-align: middle;
}

header a {
    color: #9b9ca8;
    list-style-type: none;
    text-decoration-line: none;
}

header .bk-nav {
    float: left;
    font-size: 14px;
}

header .bk-nav li {
    float: left;
    position: relative;
}

header .bk-nav li.active a {
    color: #fff;
}

header .bk-nav li>.bk-nav-list {
    display: inline-block;
    padding: 12px 23px;
    position: relative;
}

header .bk-nav li>.bk-nav-list:hover {
    color: #fff;
}

header .bk-nav li>.bk-nav-list.on {
    color: #fff;
}

header .bk-nav .help-con>.help {
    display: inline-block;
    padding: 12px 23px;
}

header .bk-nav .help-con>.help.on {
    color: #FFF;
}

header .bk-nav .help-con:hover .helplist {
    opacity: 1;
    visibility: inherit !important;
}

header .bk-nav .help-con:hover>a {
    color: #fff;
}

header .bk-nav .helplist {
    background: rgba(6, 5, 9, 0.92);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
    width: 100%;
    height: 508px;
    border-radius: 3px;
    font-size: 0;
    letter-spacing: -5px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}



header .bk-nav .helplist a {
    line-height: 1;
    cursor: pointer;
    letter-spacing: 0;
    margin-bottom: 30px;
    text-align: left;
    display: block;
    color: #9b9ca8;
    width: 88px;
    font-size: 14px;
    box-sizing: border-box;
}

header .bk-nav .helplist a:hover {
    color: #6793ee;
    opacity: 1;
}

header .bk-nav .helplist p {
    letter-spacing: 0;
    margin: 10px 0 0 0;
    font-size: 14px;
}

header .bk-login {
    float: right;
}

header .bk-login li {
    float: left;
    position: relative;
}

header .bk-login .workbench {
    display: inline-block;
    margin: 0 40px 0 0;
    padding: 12px 0;
}

header .bk-login .workbench-content:hover .workbench-list {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

header .bk-login .workbench-content:hover>a {
    color: #fff;
}

header .bk-login .workbench-list {
    opacity: 0;
    visibility: hidden;
    border: 1px solid #e5e5e5;
    position: absolute;
    z-index: 99;
    top: 47px;
    left: 50%;
    width: 120px;
    border-radius: 3px;
    background: #fff;
    margin: 0 0 0 -80px;
    box-sizing: border-box;
    transition: all .35s ease-in;
}

header .bk-login .workbench-list:before {
    position: absolute;
    left: 50%;
    top: -16px;
    content: "";
    border: 8px solid;
    border-color: transparent transparent #e5e5e5 transparent;
    width: 0px;
    margin: 0 0 0 -8px;
}

header .bk-login .workbench-list:after {
    position: absolute;
    left: 50%;
    top: -15px;
    content: "";
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
    width: 0px;
    margin: 0 0 0 -8px;
}

header .bk-login .workbench-list a {
    display: block;
    text-align: center;
    line-height: 44px;
}

header .bk-login .workbench-list a:hover {
    background: #fafafa;
}

header .bk-login .workbench-list a+a {
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
}

header .bk-login .login-button {
    display: inline-block;
    width: 80px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 3px;
}

header .bk-login .login-button:hover {
    color: #fff;
    background: #4491e1;
    border-color: #4491e1;
}

header .bk-login .login-name:hover .logged-in-list {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

header .bk-login .logged-in {
    display: inline-block;
    padding: 12px 0;
}

header .bk-login .logged-in i {
    vertical-align: 2px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #9b9ca8;
    margin-left: 5px;
    display: inline-block;
}

header .bk-login .logged-in:hover {
    color: #fff;
}

header .bk-login .logged-in:hover i {
    border-top: 5px solid #FFF;
}

header .bk-login .logged-in-list {
    opacity: 0;
    visibility: hidden;
    border: 1px solid #e5e5e5;
    position: absolute;
    right: 0px;
    top: 47px;
    width: 216px;
    background: #fff;
    z-index: 98;
    border-radius: 3px;
}

header .bk-login .logged-in-list:before {
    position: absolute;
    left: 78%;
    top: -16px;
    content: "";
    border: 8px solid;
    border-color: transparent transparent #e5e5e5 transparent;
    width: 0px;
}

header .bk-login .logged-in-list:after {
    position: absolute;
    left: 78%;
    top: -15px;
    content: "";
    border: 8px solid;
    border-color: transparent transparent #fff transparent;
    width: 0px;
}

header .bk-login .nickname {
    display: block;
    padding: 20px 26px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px solid #e5e5e5;
}

header .bk-login .nickname img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

header .bk-login .nickname:hover {
    background: #fafafa;
}

header .bk-login .other {
    padding-top: 6px;
}

header .bk-login .other a {
    margin: 13px 26px;
    display: block;
}

header .bk-login .other a:hover {
    color: #57a3f1;
}

header .bk-nav .helplist .items-list {
    padding-top: 30px;
    padding-right: 90px;
    float: left;
}

header .bk-nav .helplist .items-list .document-title {
    color: #666;
    cursor: default;
}

header .bk-nav .helplist .items-list:last-child {
    padding-right: 0;
}

header .bk-nav .helplist .more-list-content {
    padding-left: 19.32%;
}
.index-51 {
    margin-top: 100px;
    width: 1250px;
    height: 500px;
}
.index-521 {
    float: left;
    width: 620px;
    height: 203px;
    position: relative;
    border: 1px solid #e5e5e5;
    margin-right: -1px;
    margin-bottom: -1px;
}
.index-522 {
    float: left;
    width: 620px;
    height: 203px;
    position: relative;
    border: 1px solid #e5e5e5;
    margin-right: -1px;
    margin-bottom: -1px;
}
.index-523 {
    float: left;
    width: 620px;
    height: 203px;
    position: relative;
    border: 1px solid #e5e5e5;
    margin-right: -1px;
    margin-bottom: -1px;
}
.index-524 {
    float: left;
    width: 620px;
    height: 203px;
    position: relative;
    border: 1px solid #e5e5e5;
    margin-right: -1px;
    margin-bottom: -1px;
}
.index-6111 {
    width: 33%;
    height: 400px;
    float: left;
    position: relative;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.index-6112 {
    width: 33%;
    height: 400px;
    float: left;
    position: relative;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.index-61112 {
    color: #4f515e;
    font-size: 30px;
    line-height: 1;
}
.index-61122 {
    color: #4f515e;
    font-size: 30px;
    line-height: 1;
}
.index-6113 {
    width: 33%;
    height: 400px;
    float: left;
    position: relative;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.index-61132 {
    color: #4f515e;
    font-size: 30px;
    line-height: 1;
}
.index-61111 p {
    font-size: 14px;
    color: #7b7d8a;
    line-height: 32px;
    margin-top: 5px;
}
.index-61121 p {
    font-size: 14px;
    color: #7b7d8a;
    line-height: 32px;
    margin-top: 5px;
}
.index-61131 p {
    font-size: 14px;
    color: #7b7d8a;
    line-height: 32px;
    margin-top: 5px;
}
.index-6131 {
    width: 33%;
    height: 400px;
    float: left;
    position: relative;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.index-61311 {
    width: 100%;
    height: 330px;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
}
.index-61311 p {
    font-size: 14px;
    color: #7b7d8a;
    line-height: 32px;
    margin-top: 5px;
}
.index-61113 {
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
    width: 180px;
    height: 42px;
    line-height: 42px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
    font-family: 'Microsoft YaHei';
    background-color: #57a3f1;
}
.index-61123 {
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
    width: 180px;
    height: 42px;
    line-height: 42px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
    font-family: 'Microsoft YaHei';
    background-color: #57a3f1;
}
.index-61133 {
    display: inline-block;
    cursor: pointer;
    margin-top: 50px;
    width: 180px;
    height: 42px;
    line-height: 42px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
    font-family: 'Microsoft YaHei';
    background-color: #57a3f1;
}
.bk-footer {
    min-width: 1180px;
    width: 100%;
    height: 320px;
    background: #090b1a;
}

.bk-footer .footer-content {
    padding: 52px 10px;
    box-sizing: border-box;
}

.bk-footer .footer-content dl {
    width: 400px;
    float: left;
}
.bk-footer .footer-content dl:nth-child(2) {
    width: 200px;
    float: left;
}
.bk-footer .footer-content dt {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 13px;
}

.bk-footer .footer-content dd {
    margin-top: 22px;
    float: left;
    margin-right: 46px;
    line-height: 1;
    color: #7b7d8a;
}

.bk-footer .footer-content dd a {
    color: #7b7d8a;
}

.bk-footer .footer-content dd a:hover {
    color: #fff;
}

.bk-footer .footer-content .qr_code {
    float: right;
}

.bk-footer .copy {
    border-top: 1px solid #222431;
}

.bk-footer .copy-content {
    padding: 0 10px;
    line-height: 70px;
    box-sizing: border-box;
}

.bk-footer .copy-content img {
    display: inline-block;
    vertical-align: middle;
}

.bk-footer .copy-content>div {
    float: right;
}

.bk-footer .copy-content p {
    float: left;
    color: #7a7b87;
    font-size: 14px;
    margin-right: 20px;
}

.bk-footer .copy-content .language {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 80px;
    height: 28px;
    line-height: 25px;
    padding: 0 5px;
    font-size: 12px;
    background: none;
    border: 1px solid #6f707c;
    border-radius: 3px;
    color: #6f707c;
    font-family: 'Microsoft YaHei';
    vertical-align: 2px;
}

.bk-footer .copy-content .language span {
    margin-left: 5px;
}

.bk-footer .copy-content .language:hover {
    color: #fff;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.bk-footer .copy-content .language:hover .language-choose {
    bottom: 100%;
    opacity: 1;
    transform: translateY(0px);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.bk-footer .copy-content .language option {
    color: #7b7d8a;
}

.bk-footer .copy-content .language::-ms-expand {
    display: none;
}

.bk-footer .copy-content .language-choose {
    opacity: 0;
    position: absolute;
    width: 80px;
    left: -1px;
    bottom: 100%;
    padding: 5px 0;
    overflow: hidden;
    border: 1px solid #6f707c;
}

.bk-footer .copy-content .language-choose a {
    display: block;
    color: #6f707c;
    padding: 0 5px;
}

.bk-footer .copy-content .language-choose a:hover {
    color: #fff;
}
.product-show-box {
    float: left;
}
.bk-product-activity.clearfix {
    padding: 40px 40px 0px;
    height: auto;
    width: 100%;
}
h3 {
    margin-bottom: 15px;
    color: #4f515e;
    font-style: normal;
    font-size: 20px;
    margin-left: 38px;
    text-decoration-line: none;
}
p {
    color: #7b7d8a;
    font-size: 14px;
    margin-left: 38px;
    text-decoration-line: none;
}
.product-show-box {
    border-left: 1px solid #e5e5e5;
    padding: 35px 0 0 34px;
    height: 118px;
    width: 295px;
}
.product-show-box {
    float: left;
}
.bk-index .bk-advantage .advantage-container .advantage-title {
    font-size: 30px;
    color: #4f515e;
    margin-bottom: 60px;
}
.advantage-detail {
    height: 188px;
    padding: 50px;
    border: 1px solid #e5e5e5;
    margin-right: -1px;
    margin-bottom: -1px;
    width: 50%;
    float: left;
    cursor: default;
}
.product-title {
    font-size: 30px;
    color: #4f515e;
}
.bk-index .bk-product-series .product-series-title {
    margin-bottom: 60px;
}
.bk-index .bk-product-series .product-series-container .border-right {
    border-right: 1px solid #e5e5e5;
}
.bk-index .bk-product-series .product-series-container .product-classify {
    padding: 42px 0 39px 0;
    width: 33.333%;
    float: left;
    text-align: center;
}
a.series-name {
    display: block;
    margin-bottom: 25px;
    color: #4f515e;
    font-size: 30px;
    line-height: 1;
}
a.series-btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    width: 180px;
    height: 42px;
    line-height: 42px;
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
    background-color: #57a3f1;
    font-family: 'Microsoft YaHei';
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.product-classify.border-right {
    padding: 42px 0 39px 0;
    width: 33.333%;
    float: left;
    text-align: center;
}
.series-text-box {
    min-height: 192px;
    cursor: default;
}
.index-xx li {
    position: relative;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    display: inline-block;
    width: 50px;
    border: none;
    padding: 10px 0;
    margin: 0 7px;
}
header{
    background-color: #111;
}
.index-1 img {
    position: absolute;
    top: 25%;
    left: 35%;
}
.index-2 img {
    position: absolute;
    top: 35%;
    left: 25%;
}
.index-3 img {
    position: absolute;
    top: 55%;
    left: 35%;
}
h3{
    font-size: 30px;
    color: #4f515e;
    margin-bottom: 60px;
    text-align: center;
    position: relative;
}
.bk-index .bk-eight-function {
    padding-top: 80px;
    height: 708px;
    width: 100%;
    padding: 80px 0 0 0;
    background: url(../img/function_bg.png) no-repeat center center;
}
.index-7 {
    width: 100%;
    height: 800px;
    background: #9b9ca8;
    overflow: hidden;
    background-image: url(../img/10.png);
}
.col-11 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-21 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-31 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-41 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-51 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-61 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-71 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-81 p {
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 1px;
    padding-top: 50px;
}
.col-11 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}
.col-21 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}

.col-31 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}

.col-41 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}

.col-51 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}

.col-61 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}

.col-71 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}

.col-81 {
    overflow: hidden;
    height: 212px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px 22px 0 22px;
    top: -100%;
    left: 0;
    position: absolute;
}
.col-1 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}
.col-2 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}.col-3 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}.col-4 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}.col-5 {
    width:25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}.col-6 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}.col-7 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}.col-8 {
    width: 25%;
    height: 49%;
    float: left;
    position: relative;
    border: 1px solid #e9ddddaf;
    overflow: hidden;
}
.index-72 {
    width: 90%;
    height: 500px;
}
.index-81 h3 {
    font-size: 30px;
    margin-bottom: 70px;
    color: #4f515e;
    position: relative;
}
.index-8 {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
}
.index-81 {
    width: 100%;
    height: 700px;
    background: violet;
    margin-top: 100px;
    text-align: center;
    background-image: url(../img/19.png);
}
.index-82 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 480px;
    left: 28%;
}
.index-821 {
    width: 42px;
    height: 42px;
    background: url(../img/22.png) no-repeat 0 0;
}
.index-822 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin-left: -155px;
    width: 250px;
    height: 80px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 35px;
    border: 1px solid #d4d6d9;
    text-align: left;
    color: #7b7d8a;
    line-height: 25px;
    display: none;
}
.index-83 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 480px;
    left: 28%;
}
.index-832 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin-left: -155px;
    width: 250px;
    height: 80px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 35px;
    border: 1px solid #d4d6d9;
    text-align: left;
    color: #7b7d8a;
    line-height: 25px;
    display: none;
}
.index-833 {
    border-top: 5px solid #35e39b;
    position: absolute;
    width: 322px;
    height: 23px;
    left: 50%;
    margin-left: -155px;
    bottom: 100%;
    display: none;
}
.index-84 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 480px;
    left: 28%;
}
.index-841 {
    width: 42px;
    height: 42px;
    background: url(../img/22.png) no-repeat -84px 0;
}
.index-842 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin-left: -155px;
    width: 250px;
    height: 80px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 35px;
    border: 1px solid #d4d6d9;
    text-align: left;
    color: #7b7d8a;
    line-height: 25px;
    display: none;
}
.index-843 {
    border-top: 5px solid #ffba00;
    position: absolute;
    width: 322px;
    height: 23px;
    left: 50%;
    margin-left: -155px;
    bottom: 100%;
    display: none;
}
.index-85 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 480px;
    left: 28%;
}
.index-851 {
    width: 42px;
    height: 42px;
    background: url(../img/22.png) no-repeat -126px 0;
}
.index-852 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin-left: -155px;
    width: 250px;
    height: 80px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 35px;
    border: 1px solid #d4d6d9;
    text-align: left;
    color: #7b7d8a;
    line-height: 25px;
    display: none;
}
.index-853 {
    border-top: 5px solid #e380f5;
    position: absolute;
    width: 322px;
    height: 23px;
    left: 50%;
    margin-left: -155px;
    bottom: 100%;
    display: none;
}
.index-86 {
    width: 200px;
    height: auto;
    position: absolute;
    top: 480px;
    left: 28%;
}
.index-861 {
    width: 42px;
    height: 42px;
    background: url(../img/22.png) no-repeat -168px 0;
}
.index-862 {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin-left: -155px;
    width: 250px;
    height: 80px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px 35px;
    border: 1px solid #d4d6d9;
    text-align: left;
    color: #7b7d8a;
    line-height: 25px;
    display: none;
}
.index-863 {
    border-top: 5px solid #ff8888;
    position: absolute;
    width: 322px;
    height: 23px;
    left: 50%;
    margin-left: -155px;
    bottom: 100%;
    display: none;
}